.scroll {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shopping_cart {
  --red: red;
  --dark_red: red;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    button {
      margin: 0px;
    }

    input {
      margin: 0px;
    }

    .remove {
      background-color: var(--red);
      border-color: var(--red);

      padding: 0px;
      display: flex;
      height: auto;

    }

    margin: 10px 0px;
  }
}
